<h1>Edit existing article</h1>

<%= render 'shared/errors', obj: @article %>

<form action="<%= article_path(params[:id]) %>" method="POST">
  <input type="hidden" value="<%= form_authenticity_token %>" name="authenticity_token" />
  <input type="hidden" name="_method" value="put" />

  <label>Title</label>
  <input type="text" name="article[title]" value="<%= @article[:title] %>" />

  <label>Description</label>
  <input type="text" name="article[description]" value="<%= @article[:description] %>" />

  <input type="submit" value="Update" />
</form>

<%= link_to "Back to articles listing", articles_path %>
